<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ch.ntb.inf.libusbJava/src/ch/ntb/inf/libusb/test/PIC18F4550Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.ntb.inf.libusb.test.PIC18F4550Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.ntb.inf.libusbJava"/>
</launchConfiguration>
